# Archivos de Visual Studio
.vs/

# Archivos de compilación
bin/
obj/

# Archivos de configuración específicos del usuario
*.suo
*.user
*.userosscache
*.sln.docstates

# Archivos generados por el sistema
*.log
*.vsidx

# Ignorar otros archivos temporales
*.tmp

*.AssemblyInfoInputs.cache
