# Archivos de Visual Studio
.vs/

# Archivos de compilación
/obj/
/bin/


# Archivos de configuración específicos del usuario
*.suo
*.user
*.userosscache
*.sln.docstates

# Archivos generados por el sistema
*.log
*.vsidx

# Ignorar otros archivos temporales
*.tmp

*.AssemblyInfoInputs.cache

obj/debug